<h1>Editing Wallet</h1>

<%= render 'form', wallet: @wallet %>

<%= link_to 'Show', @wallet,class: 'btn btn-outline-info btn-xs'  %> |
<%= link_to 'Back', accounts_path ,class: 'btn btn-outline-success btn-xs'  %>
