<div class="row">
  <div class="col-4">
  </div>
  <div class="col-4">
  <table class="table">
  <tbody>
    <tr>
      <th scope="row">Walletbalance:</th>
      <td><%= @wallet.walletbalance %></td>
    </tr>
  </tbody>
</table>
<%= link_to 'Edit', edit_wallet_path(@wallet) , class: 'btn btn-outline-warning btn-xs' %> | 
<%= link_to 'Back', accounts_path ,class: 'btn btn-outline-success btn-xs'  %>

  </div>

  <div class="col-4">
  </div>
  
</div>