<div data-controller="hello">
  <div class="btn btn-primary">Say Hello</div>
</div>


<div class="btn btn-primary" data-action="click->hello#greet">Say Hello</div>

<%# <h1 data-target="hello.heading">This is the home page</h1> %>