<ul class="nav nav-tabs justify-content-center nav-justified">
  <li class="nav-item">
    <a class="nav-link " aria-current="page" href=<%=root_path%>>Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"   href=<%=transactions_path%>>Transaction</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href=<%=accounts_path%>>Accounts</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href=<%=new_user_invitation_path%>>Group Expense</a>
  </li>
  

  
</ul>





